@charset "utf-8";
.organization-title{
	padding: 15px 15px;
	width: 100%;
	background-color: #fff;
	color: #2996e8;
}
.addStaff,.addclass{
	margin-top: 10px;
	background-color: #fff;
}
.new-addstaff,.new-addclass{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #FFF9EC;
	background-color: #2f4f67;
	text-align: center;
}
.upload-userimg{
	cursor: default;
	margin-top: 10px;	
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #009688;
	color: #fff;
}
.addcategory,.addsubject{
	position: absolute;
	top: 0;
	right: -110px;
	width: 100px;
	height: 38px;
	line-height: 38px;
	background-color: #2996e8;
}